.img_cotanct {
  display: flex;
  justify-content: center;
  margin: 4rem;
  background-position: top center;
}

.img_cotanct img {
  width: 80%;
}

.contact_us {
  font-size: 2em;
  font-weight: 500;
  margin-top: 30px;
}

.contact_parent {
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 300px;
}

.contact_child strong {
  line-height: 90px;
  font-size: 2rem;
}

.contact_child p {
  font-size: 1.3em;
  font-weight: 500;
}

iframe {
  margin-top: 100px;
  width: 100%;
}