.press_parent,
.part_parent,
.extra_work {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.press_child {
  width: 49%;
}

.part_child {
  width: 23%;
}
img {
  width: 100%;
}

#centering_text {
  padding: 80px 0;
}

#centering_text ul li {
  line-height: 90px;
  text-align: center;
  font-size: 2em;
}
/* Press done*/
